body {
    background-color: #F8F8F8;
    color: #393939;
    padding: 10px;
    width: 90%;
    margin: auto;
}
.bod {
    text-align: left;
    font-size: 25px;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}
.img{
    width:auto;
    height: auto;
    padding: 4px;
}
.main p{
    text-align: center;
    font-size: 40px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px #AAAAAA;
    color: #444444;
}
li{
    margin: auto;
    display: inline-block;
    margin: auto;
    padding: 20px;
}
.hint, .submit{
    width: auto;
    margin: 10px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
